doctype 5
html
	head
		title= title

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascritp', src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
		script(type='text/javascript', src='http://codeorigin.jquery.com/jquery-2.0.3.js')
		script(type='text/javascript', src='/javascripts/scripts.js')
	body
		#header
			.container
				#logo: a(href='/') five letters
				#nav
					if username
						span#user
							p You are logged in as 
								span #{username}
					ul
						li: a(href='/users') Users
						if username
							li: a(href='/games') Games
							li: a(href='/users/logout') Logout
						else
							li: a(href='/users/login') Login
		#container
			.inner
				block content
		#footer
			.inner Copyright Ryan Kortmann 2013