doctype 5
html
	head
		title= title

		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lobster')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto+Slab')
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')

		script(type='text/javascritp', src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(type='text/javascript', src="/socket.io/socket.io.js")
		script(type='text/javascript', src='/javascripts/scripts.js')
	body
		#header
			.container
				#logo: a(href='/') five letters
				#nav
					if user
						#user
							p You are logged in as 
								a(href='/users/#{user.username}') #{user.username}
					ul
						li: a(href='/users') Users
						if user
							li: a(href='/games') Games
							li: a(href='/users/logout') Logout
						else
							li: a(href='/users/login') Login
		#container
			.inner
				block content
		#footer
			.inner Copyright Ryan Kortmann 2013