extends ../layout

block content
	h1 Create User
	form(method ='post', action='')
		p
			label(for='username') Username: 
			input(type='text', name='username')
		p
			label(for='password') Password: 
			input(type='password', name='password')
		p
			input(type='submit', value='Create', class='btn btn-primary')