extends ../layout

block content
	h1 Create User
	if errors
		each error in errors
			.error.alert #{error}
	form(method ='post', action='')
		p
			label(for='username') Username: 
			input(type='text', name='username')
		p
			label(for='password') Password: 
			input(type='password', name='password')
		p
			label(for='email') Email: 
			input(type='text', name='email')
		p
			input(type='submit', value='Create', class='btn btn-primary')