extends ../layout

block content
	h1 Users
	hr
	each error in errors
		.error #{ error }
	each user in users
		p: a(href='/users/' + user.username) #{ user.username }

	h2: a(href='users/create', class='btn btn-primary') Create User