extends ../layout

block content
	h1 Login page
	each error in errors
		.error #{ error }
	form(method='POST', class='form-horizontal')
		.control-group
			label(for='username', class='control-label') Username: 
			.controls
				input(type='text', name='username')
		.control-group
			label(for='password', class='control-label') Password: 
			.controls
				input(type='password', name='password')
		.control-group
			.controls
				input(type='submit', value='Login', class='btn')