extends ../layout

block content
	h1 Login page
	each error in errors
		.error #{ error }
	form(method='POST')
		p
			label(for='username') Username: 
			input(type='text', name='username')
		p
			label(for='password') Password: 
			input(type='password', name='password')
		p
			input(type='submit', value='Login')