extends ../layout

block content
	h1 #{ user.username }
	p Joined: #{ user.joined.getFullYear() }
	p
		a(href='/users', class='btn btn-default') Back to Users
		a(href='/users/' + user.username + '/delete', class='btn btn-danger') Delete