//orange
primary-color = #FF9D00
dark-primary-color = #E8510C

//blue
//primary-color = #FFA540
//dark-primary-color = #071672

link-color = #0011B2

body 
	font 14px Roboto, Arial, sans-serif
	font-weight 300

	padding 0
	margin 0

	background url(../images/gray-bg.jpg) repeat

a 
	color link-color
	text-decoration none

	&:hover
		text-decoration underline
		
h1,h2,h3,h4,h5
	font-family: 'Roboto Slab', serif;
	
.btn
	margin-right 5px
	
.italic
	font-style italic

#header
	position relative

	background-color dark-primary-color
	color white
	padding 1em 0

	box-shadow 0 0 15px #000
	
	z-index 50

	.container
		width 1024px
		margin auto
		overflow visible

		#logo
			float left
			//font-family 'Bevan', cursive
			font-family 'Lobster', cursive
			overflow visible
			padding-left 9px
			font-size 30pt
			letter-spacing 3px

			a
				color white
				transition text-shadow 0.25s linear
				text-shadow -1px 0 5px primary-color, 0 1px 5px primary-color, 1px 0 5px primary-color, 0 -1px 5px primary-color

				&:hover
					text-decoration none
					transition text-shadow 0.25s linear
					text-shadow -1px 0 25px primary-color, 0 1px 25px primary-color, 1px 0 25px primary-color, 0 -1px 25px primary-color
					
			//a.active
			//	text-shadow -1px 0 25px primary-color, 0 1px 25px primary-color, 1px 0 25px primary-color, 0 -1px 25px primary-color


		#user
			float right
			font-size 11px
			padding 0.5em 2em
				
			a
				color primary-color
				font-weight 400

		#nav

			ul
				padding 0
				margin 0

				li
					display inline-block

					a
						color white
						font-size 14pt
						text-decoration none
						
						line-height 50px
						padding 0 2em

						vertical-align middle
						
						transition text-shadow 0.25s linear
						text-shadow none

						&:hover
							transition text-shadow 0.25s linear
							text-shadow -1px 0 3px primary-color, 0 1px 3px primary-color, 1px 0 3px primary-color, 0 -1px 3px primary-color
					
					a.active
						text-shadow -1px 0 3px primary-color, 0 1px 3px primary-color, 1px 0 3px primary-color, 0 -1px 3px primary-color
							
					&:first-child

						a
							padding-left 4em


#container
	position relative
	width 1000px
	margin auto
	background-color white
	box-shadow 0 0 15px #aaa
	border-bottom-left-radius 5px
	border-bottom-right-radius 5px
	
#container

	> .inner 
		padding 2em

.player
	width 46%
	margin 1%
	padding 1%

	float left;

	.inner
		border 1px solid dark-primary-color

		.title
			background-color dark-primary-color
			font-size 150%
			color white
			padding 0.5em

			.word
				font-size 75%
				float right
				
		.word-input
			padding 1em

			h1
				text-align center
				
			input
				display block
				width 50%
				margin auto
				
			input[type='text']
				text-align center
				height auto
				font-size 30pt
				margin-bottom 10px

		.moves
			padding 1em


#footer
	width 1000px
	background-color white
	margin 1em auto

	box-shadow 0 0 15px #aaa
	border-radius 5px
	
	.inner
		padding 1em 2em