body {
  font: 14px Roboto, Arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  background: url("../images/gray-bg.jpg") repeat;
}
a {
  color: #0011b2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
}
.btn {
  margin-right: 5px;
}
#input {
  display: block;
  width: 50%;
  height: 2em;
  font-size: 200%;
  text-align: center;
  border: 1px solid #eee;
  margin: 1em auto;
}
#input.active {
  border: 1px solid #ff9d00;
}
#header {
  position: relative;
  background-color: #e8510c;
  color: #fff;
  padding: 1em 0;
  box-shadow: 0 0 15px #000;
  z-index: 50;
}
#header .container {
  width: 1024px;
  margin: auto;
  overflow: visible;
}
#header .container #logo {
  float: left;
  font-family: 'Lobster', cursive;
  overflow: visible;
  padding-left: 9px;
  font-size: 30pt;
  letter-spacing: 3px;
}
#header .container #logo a {
  color: #fff;
  transition: text-shadow 0.25s linear;
  text-shadow: -1px 0 5px #ff9d00, 0 1px 5px #ff9d00, 1px 0 5px #ff9d00, 0 -1px 5px #ff9d00;
}
#header .container #logo a:hover {
  text-decoration: none;
  transition: text-shadow 0.25s linear;
  text-shadow: -1px 0 25px #ff9d00, 0 1px 25px #ff9d00, 1px 0 25px #ff9d00, 0 -1px 25px #ff9d00;
}
#header .container #user {
  float: right;
  font-size: 11px;
  padding: 0.5em 2em;
}
#header .container #user a {
  color: #ff9d00;
  font-weight: 400;
}
#header .container #nav ul {
  padding: 0;
  margin: 0;
}
#header .container #nav ul li {
  display: inline-block;
}
#header .container #nav ul li a {
  color: #fff;
  font-size: 14pt;
  text-decoration: none;
  line-height: 50px;
  padding: 0 2em;
  vertical-align: middle;
  transition: text-shadow 0.25s linear;
  text-shadow: none;
}
#header .container #nav ul li a:hover {
  transition: text-shadow 0.25s linear;
  text-shadow: -1px 0 3px #ff9d00, 0 1px 3px #ff9d00, 1px 0 3px #ff9d00, 0 -1px 3px #ff9d00;
}
#header .container #nav ul li a.active {
  text-shadow: -1px 0 3px #ff9d00, 0 1px 3px #ff9d00, 1px 0 3px #ff9d00, 0 -1px 3px #ff9d00;
}
#header .container #nav ul li:first-child a {
  padding-left: 4em;
}
#container {
  position: relative;
  width: 1000px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 15px #aaa;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#container > .inner {
  padding: 2em;
}
.player {
  width: 46%;
  margin: 1%;
  padding: 1%;
  float: left;
}
.player .inner {
  border: 1px solid #e8510c;
}
.player .inner .title {
  font-size: 150%;
  color: #555;
}
.player .inner .title .position {
  padding: 0.5em;
  background-color: #e8510c;
  color: #fff;
}
.player .inner .title .name {
  font-size: 75%;
  padding: 0.5em;
}
.player .inner .guess {
  text-align: center;
}
.player .inner .guess input[type='text'] {
  display: inline-block;
  margin: 4% 1%;
  padding: 0;
  text-align: center;
  width: 1em;
  font-size: 400%;
}
.player .inner .guess input[type='submit'] {
  width: 50%;
  margin: auto;
}
.player .inner .moves {
  padding: 1em;
}
#footer {
  width: 1000px;
  background-color: #fff;
  margin: 1em auto;
  box-shadow: 0 0 15px #aaa;
  border-radius: 5px;
}
#footer .inner {
  padding: 1em 2em;
}
