body 
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif

	padding:0
	margin:0

a 
	color #00b7ff

#nav
	background-color #555
	color white

	ul
		width 900px
		padding 0
		margin 0 auto

		li
			display inline-block

			a
				color white
				font-weight bold
				text-decoration none
				
				display inline-block
				padding 0.5em 2em

				&:hover
					color #eee

#user
	float right
	font-size 10px
	padding 0.5em 2em

#container
	width 800px
	margin auto

.player
	width 46%
	margin 1%
	padding 1%

	float left;

	.inner
		border 1px solid #555

		.title
			font-size 150%
			color #555

			.position
				padding 0.5em
				background-color #555
				color white

			.name
				font-size 75%
				padding 0.5em

		.guess
			text-align center

			input[type='text']
				display inline-block
				margin 4% 1%
				padding 0
				text-align center
				width 1em

				font-size 400%
			input[type='submit']
				width 50%
				margin auto

				font-size 100px

		.moves
			padding 1em