extends ../layout

block content
	h1 Create Game
	if errors
		each error in errors
			.error.alert #{error}
	form(method='POST')
		p
			label(for='gamename') Game Name: 
			input(type='text', name='gamename')
		p
			input(type='submit', value='Create', class='btn btn-primary')
