extends ../layout

block content
	h1 Games
	hr
	if errors
		each error in errors
			.error #{error}
	h3 Your games
	if yourgames.length > 0
		each game in yourgames
			p: a(href='/games/' + game.name) #{ game.name }
	else
		p
			em You have no existing games...

	h3 Other Games
	if othergames.length > 0
		each game in othergames
			p: a(href='/games/' + game.name) #{ game.name }
	else
		p
			em There are no games...
	br
	a(href='games/create', class='btn btn-default') Create Game