extends ../layout

block content
	if errors
		each error in errors
			.error #{error}
	if yourgames.length > 0
		h1 Your games
		each game in yourgames
			p: a(href='/games/' + game.name) #{ game.name }

	if othergames.length > 0
		h1 Other Games
		each game in othergames
			p: a(href='/games/' + game.name) #{ game.name }

	h2: a(href='games/create') Create Game